---
import LinkBlend from "@components/global/LinkBlend.astro";
import { getLangFromUrl, useTranslations } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

---

<section id="hero" class="section dark-section hero min-h-screen">
	<div class="mx-auto flex h-full flex-col">
		<div class="relative flex flex-1 flex-col justify-center gap-8 rounded-lg py-10 pb-28 md:gap-20 md:pb-10 lg:rounded-2xl">
			<div class="flex justify-center">
				<h1 class="sr-only">Sujitra</h1>
				<!--?xml version="1.0" encoding="utf-8"?-->
				<!-- Generator: Adobe Illustrator 27.7.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
				<svg
    version="1.1"
    id="sujitra-logo-svg"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 0 950 196"
    enable-background="new 0 0 950 196"
    class="title-svg w-[min(90rem,90vw)]"
    xml:space="preserve">

    <g id="S" transform="translate(-630, 0)">
        <defs>
            <path id="S_Mask" d="M724,86.7c18.9,3.7,32.8,9.6,41.7,17.7c8.9,8.1,13.3,19.1,13.3,32.9c0,16.3-6.1,28.7-18.2,37.1
            c-12.1,8.5-27.7,12.7-46.8,12.7c-8.8,0-17.1-0.9-24.9-2.6c-7.8-1.7-15-4.5-21.7-8.3c-6.6-3.8-11.9-9.1-15.8-15.8
            c-3.9-6.7-5.9-14.6-5.9-23.5v-1.7h23.7v1.2c0,19.8,14.9,29.7,44.6,29.7c12.3,0,22.3-2.3,29.9-7c7.6-4.6,11.5-11.7,11.5-21.2
            c0-8-2.7-14.1-8-18.4c-5.3-4.3-15-8-29.2-11l-19.9-4.2c-31.9-6.8-47.8-22.8-47.8-48.1c0-15,5.8-26.8,17.4-35.6
            c11.6-8.8,26.2-13.2,43.9-13.2c20.3,0,35.8,4.4,46.6,13.3c10.8,8.9,16.2,21,16.2,36.3v1.2h-23.9v-1c0-9-3.2-16-9.7-21.1
            c-6.5-5.1-15.9-7.6-28.4-7.6c-11.5,0-20.7,2.4-27.8,7.2c-7.1,4.8-10.6,11.4-10.6,19.7c0,8.6,2.7,15,8,18.9c5.3,4,13.1,7,23.4,9
            L724,86.7z">
            </path>
        </defs>
        <clipPath id="clip_S">
            <use xlink:href="#S_Mask" overflow="visible"></use>
        </clipPath>
        <path clip-path="url(#clip_S)" fill="none" class="logo-path-mask" stroke="#FFFFFF" stroke-width="32" stroke-miterlimit="10" 
        d="M765.2,63c0,0-3.5-48.4-52.8-43.7s-50.3,19.2-50.3,19.2S652,69,681,88c0,0,58,12,68,19s21,10,16,34s-4,27-25,32s-68.5-1-73.2-7 s-6.4-33-6.4-33">
        </path>
    </g>

    <g id="u" transform="translate(140, 0)">
        <defs>
            <path id="u_Mask" d="M10,10 h24 v110 c0,15 10,30 35,30 s35,-15 35,-30 v-110 h24 v110 c0,40 -30,54 -59,54 s-59,-14 -59,-54 z"></path>
        </defs>
        <clipPath id="clip_u">
            <use xlink:href="#u_Mask" overflow="visible"></use>
        </clipPath>
        <polyline clip-path="url(#clip_u)" fill="none" stroke="#FFFFFF" class="logo-path-mask" stroke-width="32" stroke-miterlimit="10" 
        points="22,10 22,180 110,180 110,10"></polyline>
    </g>

    <g id="j" transform="translate(-100, 0)">
        <defs>
            <path id="J_Mask" d="M378.3,123.4h22.4c0,14.5,2.4,25.2,7.2,32.1c4.8,7,12.7,10.5,23.7,10.5s18.9-3.4,23.8-10.3
            c4.9-6.9,7.4-17.6,7.4-32.3V10h22.4v113.4c0,42.5-17.9,63.8-53.6,63.8C396.1,187.2,378.3,165.9,378.3,123.4z">
            </path>
        </defs>
        <clipPath id="clip_J">
            <use xlink:href="#J_Mask" overflow="visible"></use>
        </clipPath>
        <path clip-path="url(#clip_J)" fill="none" class="logo-path-mask" stroke="#FFFFFF" stroke-width="32" stroke-miterlimit="10" 
        d="M387.8,120c0,0,4.7,64.5,44,58.3C471,172,474,141,474,141V10">
        </path>
    </g>

    <g id="i" transform="translate(-550, 0)">
        <defs>
            <path id="I_Mask" d="M960.9,10v174.4h-22.4V10H960.9z"></path>
        </defs>
        <clipPath id="clip_I">
            <use xlink:href="#I_Mask" overflow="visible"></use>
        </clipPath>
        <line clip-path="url(#clip_I)" fill="none" stroke="#FFFFFF" class="logo-path-mask" stroke-width="32" stroke-miterlimit="10" 
        x1="949.7" y1="9" x2="949.7" y2="187">
        </line>
    </g>

    <g id="t" transform="translate(-330, 0)">
        <defs>
            <path id="T_Mask" d="M788,29.9V10h134.1v19.9h-55.8v154.5h-22.4V29.9H788z"></path>
        </defs>
        <clipPath id="clip_T">
            <use xlink:href="#T_Mask" overflow="visible"></use>
        </clipPath>
        <polyline clip-path="url(#clip_T)" fill="none" class="logo-path-mask" stroke="#FFFFFF" stroke-width="32" stroke-miterlimit="10" 
        points="855,185 855,18.9 787,19.3 924,18.9">
        </polyline>
    </g>

    <g id="r" transform="translate(630, 0)">
        <defs>
            <path id="r_Mask" d="M10,184 v-174 h70 c30,0 50,20 50,50 c0,25 -15,45 -40,48 l45,76 h-28 l-40,-70 h-25 v70 h-24 z M34,30 v60 h40 c15,0 25,-10 25,-30 s-10,-30 -25,-30 h-40 z"></path>
        </defs>
        <clipPath id="clip_r">
            <use xlink:href="#r_Mask" overflow="visible"></use>
        </clipPath>
        <polyline clip-path="url(#clip_r)" fill="none" stroke="#FFFFFF" class="logo-path-mask" stroke-width="32" stroke-miterlimit="10" 
        points="22,180 22,20 120,20 120,80 30,80 125,184"></polyline>
    </g>

    <g id="a" transform="translate(570, 0)">
        <defs>
            <path id="A_Mask" d="M322,132.1h-74l-19.9,52.3h-23.9l67-174.4h27.4l67,174.4h-23.9L322,132.1z M285.9,36.7h-2l-28.4,75.5 h58.8L285.9,36.7z">
            </path>
        </defs>
        <clipPath id="clip_A">
            <use xlink:href="#A_Mask" overflow="visible"></use>
        </clipPath>
        <polyline clip-path="url(#clip_A)" fill="none" stroke="#FFFFFF" class="logo-path-mask" stroke-width="32" stroke-miterlimit="10" 
        points="217.9,191 284.9,10 329,119.7 358.5,187.5 329,119.7 245.7,119">
        </polyline>
    </g>

</svg>
			</div>
			<div class="flex flex-col items-center gap-5 text-center lg:gap-10">
				<div class="flex flex-col items-center justify-center gap-3 lg:col-start-1">
					<small>
						( <span class="scroll-text">
							<LinkBlend class="text-xs lg:text-lg" id="go-projects-button" isButton={true}>{t("hero.scroll")}</LinkBlend>
						</span> )
					</small>
				</div>
			</div>
		</div>
	</div>
</section>

<style>
	.hero {
		padding-bottom: 0;
		position: relative;
		border-radius: inherit;
		overflow: hidden;
	}
	.hero > div {
		grid-column: 1 / span 4;
	}

	#hero .title-svg {
		opacity: 0;
	}

	/* Hero appearance */
	.hero h1,
	.hero h2,
	.hero h3 {
		margin: 0;
	}
	.hero h1 {
		margin: 0;
		position: relative;
		overflow: hidden;
	}
	.hero h1 > div {
		position: relative;
		margin: 0;
	}
</style>

<script>
	import { gsap } from "gsap";
	import { ScrollTrigger } from "gsap/ScrollTrigger";
	import { SplitText } from "gsap/SplitText";
	import { ScrollToPlugin } from "gsap/ScrollToPlugin";
	import { DrawSVGPlugin } from "gsap/DrawSVGPlugin";

	gsap.registerPlugin(ScrollTrigger, SplitText, ScrollToPlugin, DrawSVGPlugin);

	function init() {
		var goProjectsButton = document.getElementById("go-projects-button");
		goProjectsButton?.addEventListener("click", function () {
			gsap.to(window, { duration: 0.5, scrollTo: "#majestico-motto" });
		});

		gsap.set("#hero .title-svg", { opacity: 1 });

		gsap.timeline({
			defaults: {
				duration: 1,
				ease: "power2.out",
				stagger: 0.1,
			},
		}).from("#hero .title-svg .logo-path-mask", { drawSVG: 0 });

		// https://codepen.io/zank/pen/PoLLOXB?editors=0010
		// Show scroll title from the middle
		let split = new SplitText("#hero .scroll-text", { type: "chars" });
		gsap.timeline({
			defaults: {
				duration: 0.3,
			},
		}).from(split.chars, {
			opacity: 0,
			stagger: {
				from: "center", //try "center" and "edges"
				each: 0.05,
			},
		});
	}

	document.removeEventListener("DOMContentLoaded", init); // astro:page-load
	document.addEventListener("DOMContentLoaded", init); // astro:page-load
</script>
