---
import type { AstroSeoProps } from "@astrolib/seo";
import BaseHead from "@components/BaseHead.astro";
import BackgroundLines from "@components/global/BackgroundLines.astro";
import Footer from "@components/global/Footer.astro";
import Navigation from "@components/global/Navigation.astro";
import { getLangFromUrl } from "../i18n/utils";

type Props = {
	seo?: AstroSeoProps;
};

const { seo: seoProp } = Astro.props;

const lang = getLangFromUrl(Astro.url);

const shareImage = new URL("/images/meta/majestico_share.gif", Astro.site).toString();

const defaultSeo: AstroSeoProps = {
	title: "Sujitra",
	description:
		"yoyoyo",
	canonical: "https://sujitra.vercel.app",
	openGraph: {
		url: "https://sujitra.vercel.app",
		title: "Sujitra",
		description:
			"yoyoyo",
		images: [
			{
				url: shareImage,
				width: 1200,
				height: 630,
				alt: "Social open graph",
				type: "image/gif",
			},
			{
				url: shareImage,
				width: 4096,
				height: 4096,
				alt: "Twitter open graph",
				type: "image/gif",
			},
		],
		site_name: "Sujitra",
	},
	
	additionalMetaTags: [
		{
			name: "publisher",
			content: "Sujitra",
		},
	],
};

const seo = {
	...defaultSeo,
	...seoProp,
};
---

<html lang={lang}>
	<head>
		<BaseHead seo={seo} />
	</head>
	<body class="bg-black">
		<Navigation />
		<BackgroundLines />
		<slot />
		<Footer />
	</body>
</html>
