---




---

<footer class="relative flex w-full flex-col gap-y-10 font-mono uppercase">
	<div class="relative flex-grow"></div>
	<div class="section gap-y-20">
		
		<div class="col-span-full col-start-1 flex items-end py-3 sm:col-span-1 sm:col-start-3 sm:row-start-2 lg:text-xl">
			<p class="block cursor-pointer px-4">crafted by POPy</p>
		</div>
		
		
	</div>
</footer>

<script>
	import { gsap } from "gsap";
	import { ScrollToPlugin } from "gsap/ScrollToPlugin";

	gsap.registerPlugin(ScrollToPlugin);

	function init() {
		var goTopButton = document.getElementById("go-top-button");

		if (!goTopButton) return;

		goTopButton.addEventListener("click", function () {
			gsap.to(window, { duration: 0.5, scrollTo: 0 });
		});
	}

	document.removeEventListener("DOMContentLoaded", init); // astro:page-load
	document.addEventListener("DOMContentLoaded", init); // astro:page-load
</script>
